.tile {
  height: 50px;
  width: 50px;
  background: whitesmoke;
  border: 1px solid black;
}

.row {
  width: 200px;
  display: flex;
}

[data-value='1'] {
  background-color: #EEE4DA;
}

[data-value='2'] {
  background-color: #F5DEBC;
}

[data-value='4'] {
  background-color: #EE8B22;
}

[data-value='8'] {
  background-color: #EE8B22;
}

[data-value='16'] {
  background-color: #F26A21;
}

[data-value='32'] {
  background-color: #F67C5F;
}

[data-value='64'] {
  background-color: #F65E3B;
}

[data-value='128'] {
  background-color: #EDCF72;
}

/* Make this sparkly */
[data-value='256'] {
  background-color: #EDCC61;
}

/* More sparkles */
[data-value='512'] {
  background-color: #EDC850;
}

/* [data-value='1024'] {
  background-color: #;
} */