body {
  font-family: 'Clear Sans', 'Helvetica Neue', Arial, sans-serif;
  background: black;
}

.game-board {
  width: 500px;
  margin: 0 auto;
}

.row {
  width: 500px;
  margin-bottom: 10px;
  display: flex;
}

.tile {
  height: 115px;
  width: 115px;
  margin-right: 10px;
  background: rgb(119, 110, 101);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}

.tile p {
  font-size: 3.5rem;
  color: #776E65;
}

[data-value='1'] {
  background-color: #EEE4DA;
}

[data-value='2'] {
  background-color: #F5DEBC;
}

[data-value='4'] {
  background-color: #EFB964;
}

[data-value='8'] {
  background-color: #EE8B22;
}

[data-value='16'] {
  background-color: #F26A21;
}

[data-value='32'] {
  background-color: #F67C5F;
}

[data-value='64'] {
  background-color: #F65E3B;
}

[data-value='128'] {
  background-color: #EDCF72;
}

/* Make this sparkly */
[data-value='256'] {
  background-color: #EDCC61;
}

/* More sparkles */
[data-value='512'] {
  background-color: #EDC850;
}

/* [data-value='1024'] {
  background-color: #;
} */